/*
    ------------------------
    ----- 1. Colors -----
    ------------------------
*/

// Define base and accent colors
$base-color: #096ca7;
$accent-color: #71c900;
$dark-color: #2a2a2a;

:root {
  --base-color: #{$base-color};
  --accent-color: #{$accent-color};
  --dark-color: #{$dark-color};
}

// $base-color-hover: darken($base-color, 10%);
$base-color-hover: lighten($dark-color, 10%);

// Define background colors
$background: #2a2a2a;
$background-dark: #0a0a0a;
$background-alt: #f2f2f5;

// Define border colors
$border: #dcd9d9;

// Define text colors
$heading: #464646;
$text: #676767;

$contact-base: #d7d7d7;
$contact-accent: #096ca7;
