/*
    ------------------------
    ----- 1. Colors -----
    ------------------------
*/
:root {
  --base-color: #096ca7;
  --accent-color: #71c900;
  --dark-color: #2a2a2a;
}

body.dark {
  --base-color: #7f3eff;
  --accent-color: #ff7200;
  --dark-color: #2a2a2a;
  background-color: #292c35;
}
body.dark header a:hover {
  background: #1c1c1c;
}
body.dark #lead {
  background-image: url(/img/lead-bg-8.jpg);
  background-position: bottom;
}
body.dark h1,
body.dark h2,
body.dark #about h2,
body.dark #experience h2,
body.dark #projects h2,
body.dark #skills h2,
body.dark a,
body.dark p,
body.dark #about p,
body.dark #projects p,
body.dark #experience p,
body.dark .vtimeline-date {
  color: #fff;
}
body.dark #projects {
  background-color: #292c35;
}
body.dark #about,
body.dark #experience,
body.dark #education,
body.dark #projects {
  border-bottom: 1px solid #3b3b3b;
}
body.dark #experience,
body.dark #skills {
  background-color: #434343;
  border-bottom: 1px solid #292929;
}
body.dark #experience {
  background: linear-gradient(0deg, #2d2d2d 0%, #1c1c1c 100%);
}
body.dark #projects .project {
  background: #373737;
  color: #fff;
  border: 1px solid #232323;
}
body.dark #projects h3 {
  color: #f2f2f2;
}
body.dark #experience .vtimeline-content {
  background: #313131;
  color: #fff;
  border: 1px solid #232323;
}
body.dark #experience .vtimeline-content h3 {
  color: #f2f2f2;
}
body.dark #experience .vtimeline-content h3 a:hover {
  color: #e2c7ea;
}
body.dark #experience .vtimeline-content h4 {
  color: #c1c1c1;
}
body.dark #experience .shadow-large {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.0784313725), 0 3px 6px rgba(0, 0, 0, 0.1490196078);
}
body.dark #education .education-block {
  background: #373737;
  color: #fff;
  border: 1px solid #232323;
}
body.dark #education .education-date {
  color: #afafaf;
}
body.dark #education h3 {
  color: #fff;
}
body.dark #education h4 {
  color: #c1c1c1;
}
body.dark #education h5 {
  color: #b1b1b1;
}
body.dark #education ul {
  color: #f2f2f2;
}
body.dark #contact {
  background: #1c1c1c;
  background: -moz-linear-gradient(0deg, #2f1537 0%, #1c1c1c 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #2f1537), color-stop(100%, #1c1c1c)); /* safari4+,chrome */
  background: -webkit-linear-gradient(55deg, #2f1537 0%, #1c1c1c 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, #2f1537 0%, #1c1c1c 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, #2f1537 0%, #1c1c1c 100%); /* ie10+ */
  background: linear-gradient(0deg, #2f1537 0%, #1c1c1c 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$gradient-2", endColorstr="$gradient-1",GradientType=0 ); /* ie6-9 */
}
body.dark #contact h2 {
  color: #fff;
}
body.dark #skills li {
  color: #ffffff;
  background: #272727;
}
body.dark #contact-form button {
  background: #1a1a1a;
  color: #f2f2f2;
}
body.dark #contact-form input:focus,
body.dark #contact-form textarea:focus {
  outline: none;
  background: #383838;
}

/*# sourceMappingURL=dark.css.map */
