@import 'colors.scss';

$base-color: #7f3eff;
$accent-color: #ff7200;
$dark-color: #2a2a2a;

// Dark mode
body.dark {
  --base-color: #{$base-color};
  --accent-color: #{$accent-color};
  --dark-color: #{$dark-color};

  background-color: #292c35;

  header {
    a:hover {
      background: rgb(0 0 0 / 75%);
    }
  }

  #lead {
    background-image: url(/img/lead-bg-8.jpg);
    background-position: bottom;
  }

  h1,
  h2,
  #about h2,
  #experience h2,
  #projects h2,
  #skills h2,
  a,
  p,
  #about p,
  #projects p,
  #experience p,
  .vtimeline-date {
    color: #fff;
  }

  #projects {
    background-color: #292c35;
  }

  #about,
  #experience,
  #education,
  #projects {
    border-bottom: 1px solid #3b3b3b;
  }

  #experience,
  #skills {
    background-color: #434343;
    border-bottom: 1px solid #292929;
  }

  #experience {
    background: linear-gradient(0deg, #2d2d2d 0%, #1c1c1c 100%);
  }

  #projects {
    .project {
      background: #373737;
      color: #fff;
      border: 1px solid #232323;
    }

    h3 {
      color: #f2f2f2;
    }
  }

  #experience {
    .vtimeline-content {
      background: #313131;
      color: #fff;
      border: 1px solid #232323;

      h3 {
        color: #f2f2f2;
        a:hover {
          color: lighten(#2f1537, 70%);
        }
      }

      h4 {
        color: #c1c1c1;
      }
    }

    .shadow-large {
      box-shadow: 0 3px 10px #00000014, 0 3px 6px #00000026;
    }
  }

  #education {
    background: #183725;
    background: linear-gradient(355deg, #335547 0%, #0c1c13 100%);

    .education-block {
      background: #373737;
      color: #fff;
      border: 1px solid #232323;
    }

    .education-date {
      color: #afafaf;
    }

    h3 {
      color: #fff;
    }

    h4 {
      color: #c1c1c1;
    }

    h5 {
      color: #b1b1b1;
    }

    ul {
      color: #f2f2f2;
    }
  }

  #contact {
    $gradient-1: #1c1c1c;
    $gradient-2: #2f1537;

    background: $gradient-1;
    background: -moz-linear-gradient(0deg, $gradient-2 0%, $gradient-1 100%); /* ff3.6+ */
    background: -webkit-gradient(
      linear,
      left bottom,
      right top,
      color-stop(0%, $gradient-2),
      color-stop(100%, $gradient-1)
    ); /* safari4+,chrome */
    background: -webkit-linear-gradient(
      55deg,
      $gradient-2 0%,
      $gradient-1 100%
    ); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, $gradient-2 0%, $gradient-1 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, $gradient-2 0%, $gradient-1 100%); /* ie10+ */
    background: linear-gradient(0deg, $gradient-2 0%, $gradient-1 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-2', endColorstr='$gradient-1',GradientType=0 ); /* ie6-9 */

    h2 {
      color: #fff;
    }
  }

  #skills {
    li {
      color: #ffffff;
      background: #272727;
      box-shadow: 0 2px 4px rgb(0 0 0 / 24%);
      border: 1px solid #393939;
    }
  }

  #contact-form {
    button {
      background: #1a1a1a;
      color: #f2f2f2;
    }

    input,
    textarea {
      &:focus {
        outline: none;
        background: darken(#454545, 5%);
      }
    }
  }
}
