// Dark mode
body.dark,
body.dark #projects {
  background-color: #292c35;
}

body.dark #about,
body.dark #experience,
body.dark #education,
body.dark #projects {
  border-bottom: 1px solid #595959;
}

body.dark #experience,
body.dark #skills {
  background-color: #434343;
  border-bottom: 1px solid #292929;
}

body.dark #experience {
  .vtimeline-content {
    background: #373737;
    color: #fff;
    border: 1px solid #232323;

    h3 {
      color: #f2f2f2;
    }

    h4 {
      color: #c1c1c1;
    }
  }
}

body.dark #projects {
  .project {
    background: #373737;
    color: #fff;
    border: 1px solid #232323;
  }

  h3 {
    color: #f2f2f2;
  }
}

body.dark #education {
  .education-block {
    background: #373737;
    color: #fff;
    border: 1px solid #232323;
  }

  .education-date {
    color: #afafaf;
  }

  h3 {
    color: #fff;
  }

  h4 {
    color: #c1c1c1;
  }

  ul {
    color: #f2f2f2;
  }
}

body.dark {
  h1,
  h2,
  #about h2,
  #experience h2,
  #projects h2,
  #skills h2,
  a,
  p,
  #about p,
  #projects p,
  #experience p,
  .vtimeline-date {
    color: #fff;
  }

  $base-color: #1c1c1c;
  $triad-color-1: #2f1537;

  #contact {
    background: $base-color;
    background: -moz-linear-gradient(0deg, $triad-color-1 0%, $base-color 100%); /* ff3.6+ */
    background: -webkit-gradient(
      linear,
      left bottom,
      right top,
      color-stop(0%, $triad-color-1),
      color-stop(100%, $base-color)
    ); /* safari4+,chrome */
    background: -webkit-linear-gradient(
      55deg,
      $triad-color-1 0%,
      $base-color 100%
    ); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, $triad-color-1 0%, $base-color 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, $triad-color-1 0%, $base-color 100%); /* ie10+ */
    background: linear-gradient(0deg, $triad-color-1 0%, $base-color 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$triad-color-1', endColorstr='$base-color',GradientType=0 ); /* ie6-9 */

    h2 {
      color: #fff;
    }
  }

  #skills {
    li {
      color: #ffffff;
      background: #272727;
    }
  }
}
