// Dark mode
body.dark {
  background-color: #292c35;

  header {
    a:hover {
      background: #1c1c1c;
    }
  }

  h1,
  h2,
  #about h2,
  #experience h2,
  #projects h2,
  #skills h2,
  a,
  p,
  #about p,
  #projects p,
  #experience p,
  .vtimeline-date {
    color: #fff;
  }

  #projects {
    background-color: #292c35;
  }

  #about,
  #experience,
  #education,
  #projects {
    border-bottom: 1px solid #595959;
  }

  #experience,
  #skills {
    background-color: #434343;
    border-bottom: 1px solid #292929;
  }

  #projects {
    .project {
      background: #373737;
      color: #fff;
      border: 1px solid #232323;
    }

    h3 {
      color: #f2f2f2;
    }
  }

  #experience {
    .vtimeline-content {
      background: #373737;
      color: #fff;
      border: 1px solid #232323;

      h3 {
        color: #f2f2f2;
      }

      h4 {
        color: #c1c1c1;
      }
    }

    .shadow-large {
      box-shadow: 0 3px 10px #00000014, 0 3px 6px #00000026;
    }
  }

  #education {
    .education-block {
      background: #373737;
      color: #fff;
      border: 1px solid #232323;
    }

    .education-date {
      color: #afafaf;
    }

    h3 {
      color: #fff;
    }

    h4 {
      color: #c1c1c1;
    }

    ul {
      color: #f2f2f2;
    }
  }

  #contact {
    $base-color: #1c1c1c;
    $triad-color-1: #2f1537;

    background: $base-color;
    background: -moz-linear-gradient(0deg, $triad-color-1 0%, $base-color 100%); /* ff3.6+ */
    background: -webkit-gradient(
      linear,
      left bottom,
      right top,
      color-stop(0%, $triad-color-1),
      color-stop(100%, $base-color)
    ); /* safari4+,chrome */
    background: -webkit-linear-gradient(
      55deg,
      $triad-color-1 0%,
      $base-color 100%
    ); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, $triad-color-1 0%, $base-color 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, $triad-color-1 0%, $base-color 100%); /* ie10+ */
    background: linear-gradient(0deg, $triad-color-1 0%, $base-color 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$triad-color-1', endColorstr='$base-color',GradientType=0 ); /* ie6-9 */

    h2 {
      color: #fff;
    }
  }

  #skills {
    li {
      color: #ffffff;
      background: #272727;
    }
  }

  #contact-form {
    button {
      background: #1a1a1a;
    }

    input,
    textarea {
      &:focus {
        outline: none;
        background: darken(#454545, 5%);
      }
    }
  }
}
