/*!
    Title: Dev Portfolio Template
    Version: 1.1.1
    Last Change: 03/19/17
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        5. About Styles
        6. Experience Styles
        7. Education Styles
        8. Project Styles
        9. Skills Styles
        10. Contact Styles
        11. Media Queries
*/
/*
    ------------------------
    ----- 1. Colors -----
    ------------------------
*/
:root {
  --base-color: #096ca7;
  --accent-color: #71c900;
  --dark-color: #2a2a2a;
}

/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/
/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 0.2s all;
}
body.active {
  overflow: hidden;
  z-index: -1;
}

a {
  color: var(--base-color);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}

.justify {
  text-align: justify;
}

.vtimeline-block li {
  margin-bottom: 10px;
}

.subtle-link {
  color: #a2a2a2;
}

.no-js #experience-timeline > div {
  background: #2a2a2a;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dcd9d9;
}
.no-js #experience-timeline > div h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #464646;
  display: inline-block;
  margin: 0;
}
.no-js #experience-timeline > div h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0;
}
.no-js #experience-timeline > div p {
  color: #676767;
  font-size: 0.9em;
  margin: 0;
}
.no-js #experience-timeline:before, .no-js #experience-timeline:after {
  content: none;
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
header ul {
  background: rgba(10, 10, 10, 0.4);
  text-align: center;
  padding: 10px;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  header {
    background: rgba(10, 10, 10, 0.9);
  }
}
header li {
  display: inline-block;
}
header .dark-mode-toggle {
  padding: 10px;
  position: absolute;
  right: 0;
}
header a {
  display: block;
  color: #f2f2f5;
  padding: 10px;
  transition: 0.5s all;
}
header a:hover {
  color: #444444;
  text-decoration: none;
  background: #eee;
  border-radius: 4px;
}
header a:focus {
  color: var(--base-color);
  text-decoration: none;
}
header.active {
  display: block;
}

#menu.active {
  display: block;
}

#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: var(--base-color);
  font-size: 1.5em;
  z-index: 10;
  padding: 0 7px;
  border-radius: 4px;
  background: #2a2a2a;
}

#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  font-size: 1.5em;
  padding: 10px 15px;
  cursor: pointer;
  color: #ffffff;
}
#mobile-menu-close span {
  font-size: 0.5em;
  text-transform: uppercase;
}
#mobile-menu-close i {
  vertical-align: middle;
}

footer {
  padding: 50px 0;
}

.copyright {
  padding-top: 20px;
}
.copyright p {
  margin: 0;
  color: #676767;
}

.top {
  text-align: center;
}
.top span {
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #a7a7a7;
  text-align: center;
  transition: 0.3s all;
}
.top span:hover {
  border: 3px solid var(--base-color);
}
.top i {
  color: #676767;
  top: 3px;
  position: relative;
}

.social {
  text-align: right;
}
.social ul {
  margin: 5px 0 0 0;
  padding: 0;
}
.social li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none;
}
.social a {
  display: block;
  color: #676767;
  padding: 10px;
}
.social a:hover {
  color: var(--base-color);
}

.button {
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

.button--wayra {
  overflow: hidden;
  width: 245px;
  transition: border-color 0.3s, color 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra:hover {
  color: #2a2a2a;
  border-color: var(--base-color);
}
.button--wayra.button--inverted:hover {
  color: #2a2a2a;
  border-color: #fff;
}
.button--wayra.button--inverted:hover::before {
  background-color: #fff;
}
.button--wayra:hover::before {
  opacity: 1;
  background-color: #fff;
  transform: rotate3d(0, 0, 1, 0deg);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--wayra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform-origin: 0 100%;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: 0.5s ease all;
}
.btn-rounded-white:hover {
  color: var(--base-color);
  background: #fff;
  text-decoration: none;
}

.btn-rounded-dark {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
}
.btn-rounded-dark:hover {
  text-decoration: none;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-large {
  box-shadow: 0 3px 45px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.heading:after {
  position: absolute;
  content: "";
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: var(--base-color);
}

.background-alt {
  background: #f2f2f5;
}

/*
    --------------------------
    ----- 4. Lead Styles -----
    --------------------------
*/
#lead {
  position: relative;
  background-image: url(/img/lead-bg-7.jpg);
  background-size: cover;
  background-position: center;
  padding: 185px 15px 150px;
  overflow: hidden;
  filter: saturate(1.33);
  transition: 0.2s all;
}

#lead-content {
  position: relative;
  z-index: 10;
  text-align: center;
}
#lead-content img {
  width: 12vw;
  border-radius: 50%;
  margin: 1rem;
}
#lead-content h1,
#lead-content h2 {
  margin: 0;
}
#lead-content h1 {
  color: #fff;
  font-weight: 500;
  font-size: 4em;
  letter-spacing: 0.05em;
  line-height: 0.9em;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
}
#lead-content h2 {
  color: var(--accent-color);
  font-weight: 500;
  margin-bottom: 15px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(68, 68, 68, 0.425);
  z-index: 1;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff;
}
#lead-down span {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px --accent-color;
  text-align: center;
  transition: 0.3s all;
}
#lead-down span:hover {
  border: 3px solid var(--base-color);
}
#lead-down i {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px;
  position: relative;
  top: 2px;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/
#about {
  padding: 75px 15px;
  border-bottom: 1px solid #dcd9d9;
}
#about h2 {
  color: #464646;
}
#about p {
  color: #676767;
  margin: 0;
  font-size: 12.5pt;
  line-height: 1.33;
}

/*
    --------------------------------
    ----- 6. Experience Styles -----
    --------------------------------
*/
#experience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
  transition: 0.2s all;
}
#experience h2 {
  color: #464646;
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;
}
#experience-timeline:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: var(--base-color);
  background: linear-gradient(180deg, var(--base-color) 0%, var(--base-color) 97%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
#experience-timeline:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 40px;
  background: var(--base-color);
  background: linear-gradient(to bottom, var(--base-color), rgba(var(--base-color), 0));
  top: 100%;
  left: 303px;
}

.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left;
}
.vtimeline-content .heading-grid {
  display: grid;
  grid-template-columns: 1fr 20%;
  margin-bottom: 12px;
}
.vtimeline-content .heading-grid img {
  max-width: 75px;
  justify-self: end;
}
.vtimeline-content .heading-grid h3 a i {
  opacity: 0;
  transition: 0.2s all;
}
.vtimeline-content .heading-grid h3 a:hover i {
  opacity: 1;
}
.vtimeline-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #464646;
  display: inline-block;
  margin: 0;
}
.vtimeline-content h3 a:hover {
  color: #131313;
  transition: 0.2s all;
}
.vtimeline-content h3 i {
  margin-left: 6px;
  margin-top: -2px;
  font-size: 0.9rem;
  color: #c9c9c9;
  vertical-align: middle;
}
.vtimeline-content h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0;
}
.vtimeline-content p {
  color: #676767;
  font-size: 0.9em;
  margin: 0;
}
.vtimeline-content .client-logos {
  margin: 8px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vtimeline-content .client-logos div {
  flex: 0 0 calc(25% - 20px);
  margin: 4px 10px;
}
.vtimeline-content .client-logos div img {
  max-height: 50px;
  max-width: 100px;
}

.vtimeline-point {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--base-color);
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;
}
.vtimeline-icon i {
  display: block;
  font-size: 1.5em;
  margin-top: 14px;
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #374054;
}

/*
    -------------------------------
    ----- 7. Education Styles -----
    -------------------------------
*/
#education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
  background: #2b4f3a;
  background: linear-gradient(355deg, #45a07a 0%, #2b4f3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#45a07a", endColorstr="#2b4f3a ",GradientType=0 );
}
#education h2 {
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}
#education h2:after {
  background: #606060;
}

.education-block {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left;
  background: #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto 20%;
}
.education-block h3 {
  font-weight: 300;
  float: left;
  margin: 0;
  color: #464646;
}
.education-block span {
  color: #676767;
  font-size: 0.9rem;
}
.education-block h4 {
  color: #676767;
  clear: both;
  font-weight: 300;
  font-size: 1.15rem;
  margin: 0;
}
.education-block h5 {
  font-size: 0.9rem;
  color: #818181;
}
.education-block p,
.education-block ul {
  margin: 0;
  color: #676767;
  font-size: 0.9em;
}
.education-block ul {
  padding: 0 0 0 15px;
}
.education-block .education-header {
  display: inline-block;
}
.education-block .education-header img {
  height: 64px;
}
.education-block .education-header .education-text-header {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

/*
    -------------------------------
    ----- 8. Project Styles -----
    -------------------------------
*/
#projects {
  padding: 50px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
}
#projects h2 {
  color: #464646;
  margin-bottom: 50px;
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 2rem;
  padding: 1rem;
}

.project-image img {
  max-height: 300px;
}

.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #464646;
  margin: 0 0 15px 0;
}
.project-info p {
  color: #676767;
  margin: 0 0 15px 0;
  font-size: 0.9em;
}

/*
    -------------------------------
    ----- 9. Skills Styles -----
    -------------------------------
*/
#skills {
  padding: 50px 15px;
  text-align: center;
}
#skills h2 {
  color: #464646;
  margin-bottom: 50px;
}
#skills ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}
#skills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #464646;
  background: #e4e4ea;
  box-shadow: 0 2px 4px rgba(77, 77, 77, 0.1098039216);
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

/*
    -------------------------------
    ----- 10. Contact Styles -----
    -------------------------------
*/
#contact {
  padding: 50px 15px;
  background: #d7d7d7;
  text-align: center;
}
#contact h2 {
  margin: 0 0 15px 0;
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;
}
#contact-form input,
#contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #454545;
  color: #fff;
  border: 1px #2c2c2c;
  transition: 0.5s ease all;
}
#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
  color: #fff;
}
#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
  color: #fff;
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  background: #2c2c2c;
}
#contact-form textarea {
  height: 150px;
  resize: none;
}
#contact-form button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #6b6b6b;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s ease all;
}
#contact-form button:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*
    ----------------------------
    ----- 11. Media Queries -----
    ----------------------------
*/
@media only screen and (max-width: 750px) {
  #experience-timeline:before, #experience-timeline:after {
    left: 23px;
  }
  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }
  .vtimeline-icon {
    margin-left: 0;
  }
  .vtimeline-content {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 992px) {
  #lead {
    padding: 100px 15px 100px;
  }
  #lead-content h1 {
    font-size: 3em;
  }
  #lead-content h2 {
    font-size: 1.75em;
  }
}
@media only screen and (max-width: 768px) {
  #lead-content img {
    width: 15vw;
    margin: 1rem;
  }
  header {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
    height: 100%;
  }
  #mobile-menu-open,
  #mobile-menu-close {
    display: block;
  }
  #menu {
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  #menu .dark-mode-toggle {
    display: inline-block;
    padding: unset;
    right: unset;
    position: relative;
  }
  #lead-content h1 {
    font-size: 2em;
  }
  #lead-content h2 {
    font-size: 1.3em;
  }
  #lead-content a {
    padding: 10px 20px;
  }
  #lead-down {
    display: none;
  }
  .education-block h3,
  .education-block span {
    float: none;
  }
  .project {
    grid-template-columns: auto;
    grid-column-gap: 2rem;
  }
  .project-info {
    position: relative;
    margin: 0;
    top: auto;
    transform: none;
    padding-top: 20px;
  }
  footer {
    text-align: center;
  }
  .social {
    text-align: center;
  }
  .education-block {
    grid-template-columns: auto;
  }
  .vtimeline-content h3 {
    font-size: 1.33em;
  }
  .vtimeline-content h3 i {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 14.5px;
  }
  #lead-content img {
    width: 25vw;
    margin: 1rem;
  }
  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px;
  }
  .project {
    grid-template-columns: auto;
    grid-column-gap: 2rem;
  }
  .vtimeline-content .heading-grid img {
    max-width: 50px;
  }
  .vtimeline-content h3 {
    font-size: 1.25em;
  }
  .vtimeline-content h3 i {
    font-size: 0.75rem;
  }
}
.york-loader {
  height: 200px;
}

.svg-wrapper {
  height: 0;
  margin: 0 auto;
  position: relative;
  top: 10%;
  width: 320px;
}
.svg-wrapper .yellow {
  fill: transparent;
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 10 40;
  stroke: #ffcf2b;
  animation: 3s 0.2s draw-yellow infinite;
}
.svg-wrapper .blue {
  fill: transparent;
  stroke-width: 2px;
  stroke-dashoffset: 40;
  stroke-dasharray: 100 40;
  stroke: #0076bf;
  animation: 3s 0.1s draw-blue infinite;
}
.svg-wrapper .green {
  fill: transparent;
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 10 40;
  stroke: #00c081;
  animation: 3s 0.3s draw-green infinite;
}
.svg-wrapper .shadow {
  animation: 3s 0.5s draw-shadow infinite;
}

@keyframes draw-yellow {
  0% {
    stroke-dasharray: 0 540;
    stroke-dashoffset: -75;
  }
  50% {
    fill: #ffcf2b;
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }
  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: 5;
  }
}
@keyframes draw-blue {
  0% {
    stroke-dasharray: 0 540;
    stroke-dashoffset: -75;
  }
  50% {
    fill: #0076bf;
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }
  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: -45;
  }
}
@keyframes draw-green {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -75;
  }
  50% {
    fill: #00c081;
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }
  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: -175;
  }
}
@keyframes draw-shadow {
  0% {
    fill: transparent;
  }
  35% {
    fill: #bbbdbf;
  }
  100% {
    fill: transparent;
  }
}
@keyframes blur {
  0%, 90% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
  }
}

/*# sourceMappingURL=styles.css.map */
