/*!
    Title: Dev Portfolio Template
    Version: 1.1.1
    Last Change: 03/19/17
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        5. About Styles
        6. Experience Styles
        7. Education Styles
        8. Project Styles
        9. Skills Styles
        10. Contact Styles
        11. Media Queries
*/

@import 'colors.scss';

/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
  transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
    opacity: 1;
  }

  &::-moz-placeholder {
    @content;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  transition: 0.2s all;

  &.active {
    overflow: hidden;
    z-index: -1;
  }
}

a {
  color: var(--base-color);
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

.justify {
  text-align: justify;
}

.vtimeline-block {
  li {
    margin-bottom: 10px;
  }
}

.subtle-link {
  color: #a2a2a2;
}

// No JS styles
.no-js {
  #experience-timeline {
    > div {
      background: $background;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid $border;

      h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        display: inline-block;
        margin: 0;
      }

      h4 {
        font-size: 1.2em;
        font-weight: 300;
        color: #7e8890;
        margin: 0 0 15px 0;
      }

      p {
        color: $text;
        font-size: 0.9em;
        margin: 0;
      }
    }

    &:before,
    &:after {
      content: none;
    }
  }
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  // animation-name: dropHeader;
  // animation-iteration-count: 1;
  // animation-timing-function: ease;
  // animation-duration: 0.75s;

  ul {
    background: rgba($background-dark, 0.4);
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  @media only screen and (max-width: 767px) {
    background: rgba($background-dark, 0.9);
  }

  li {
    display: inline-block;
  }

  .dark-mode-toggle {
    padding: 10px;
    position: absolute;
    right: 0;
  }

  a {
    display: block;
    color: $background-alt;
    padding: 10px;
    transition: 0.5s all;

    &:hover {
      color: $base-color-hover;
      text-decoration: none;
      background: #eee;
      border-radius: 4px;
    }

    &:focus {
      color: var(--base-color);
      text-decoration: none;
    }
  }

  &.active {
    display: block;
  }
}

#menu {
  &.active {
    display: block;
  }
}

#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: var(--base-color);
  font-size: 1.5em;
  z-index: 10;
  padding: 0 7px;
  border-radius: 4px;
  background: $background;
}

#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  font-size: 1.5em;
  padding: 10px 15px;
  cursor: pointer;
  color: #ffffff;

  span {
    font-size: 0.5em;
    text-transform: uppercase;
  }

  i {
    vertical-align: middle;
  }
}

footer {
  padding: 50px 0;
}

.copyright {
  padding-top: 20px;

  p {
    margin: 0;
    color: $text;
  }
}

.top {
  text-align: center;

  span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid lighten($text, 25%);
    text-align: center;
    transition: 0.3s all;

    &:hover {
      border: 3px solid var(--base-color);
    }
  }

  i {
    color: $text;
    top: 3px;
    position: relative;
  }
}

.social {
  text-align: right;

  ul {
    margin: 5px 0 0 0;
    padding: 0;
  }

  li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
  }

  a {
    display: block;
    color: $text;
    padding: 10px;

    &:hover {
      color: var(--base-color);
    }
  }
}

.button {
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  &:focus {
    outline: none;
  }
  > span {
    vertical-align: middle;
  }
}
.button--wayra {
  overflow: hidden;
  width: 245px;
  transition: border-color 0.3s, color 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  &:hover {
    color: #2a2a2a;
    border-color: var(--base-color);
  }
  &.button--inverted {
    &:hover {
      color: #2a2a2a;
      border-color: #fff;
    }
    &:hover::before {
      background-color: #fff;
    }
  }
  &:hover::before {
    opacity: 1;
    background-color: #fff;
    transform: rotate3d(0, 0, 1, 0deg);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }
}
.button--wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform-origin: 0 100%;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  @include transition();

  &:hover {
    color: var(--base-color);
    background: #fff;
    text-decoration: none;
  }
}

.btn-rounded-dark {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  // @include transition();

  &:hover {
    text-decoration: none;
    //     color: #fff;
    //     background: #2a2a2a;
    //     text-decoration: none;
  }
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-large {
  box-shadow: 0 3px 45px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;

  &:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--base-color);
  }
}

.background-alt {
  background: $background-alt;
}

/*
    --------------------------
    ----- 4. Lead Styles -----
    --------------------------
*/

#lead {
  position: relative;
  background-image: url(/img/lead-bg-7.jpg);
  background-size: cover;
  background-position: center;
  padding: 185px 15px 150px;
  overflow: hidden;
  filter: saturate(1.33);
  transition: 0.2s all;
}

#lead-content {
  position: relative;
  z-index: 10;
  text-align: center;

  img {
    width: 12vw;
    border-radius: 50%;
    margin: 1rem;
  }

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    color: #fff;
    font-weight: 500;
    font-size: 4em;
    letter-spacing: 0.05em;
    line-height: 0.9em;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
  }

  h2 {
    color: var(--accent-color);
    font-weight: 500;
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
  }
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($base-color-hover, 0.425);
  z-index: 1;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff;

  span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px --accent-color;
    text-align: center;
    transition: 0.3s all;

    &:hover {
      border: 3px solid var(--base-color);
    }
  }

  i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
    position: relative;
    top: 2px;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/

#about {
  padding: 75px 15px;
  border-bottom: 1px solid $border;

  h2 {
    color: $heading;
  }

  p {
    color: $text;
    margin: 0;
    font-size: 12.5pt;
    line-height: 1.33;
  }
}

/*
    --------------------------------
    ----- 6. Experience Styles -----
    --------------------------------
*/

#experience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid $border;
  transition: 0.2s all;

  h2 {
    color: $heading;
  }
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: var(--base-color);
    background: linear-gradient(
      180deg,
      var(--base-color) 0%,
      var(--base-color) 97%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 0;
  }

  &:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: var(--base-color);
    background: linear-gradient(to bottom, var(--base-color), rgba(var(--base-color), 0));
    top: 100%;
    left: 303px;
  }
}

.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left;

  .heading-grid {
    display: grid;
    grid-template-columns: 1fr 20%;
    margin-bottom: 12px;

    img {
      max-width: 75px;
      justify-self: end;
    }

    h3 {
      a {
        i {
          opacity: 0;
          transition: 0.2s all;
        }
        &:hover {
          i {
            opacity: 1;
          }
        }
      }
    }
  }

  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: $heading;
    display: inline-block;
    margin: 0;

    a:hover {
      color: darken($heading, 20%);
      transition: 0.2s all;
    }

    i {
      margin-left: 6px;
      margin-top: -2px;
      font-size: 0.9rem;
      color: #c9c9c9;
      vertical-align: middle;
    }
  }

  h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
  }

  p {
    color: $text;
    font-size: 0.9em;
    margin: 0;
  }

  .client-logos {
    margin: 8px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      flex: 0 0 calc(25% - 20px);
      margin: 4px 10px;

      img {
        max-height: 50px;
        max-width: 100px;
      }
    }
  }
}

.vtimeline-point {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--base-color);
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;

  i {
    display: block;
    font-size: 1.5em;
    margin-top: 14px;
  }
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #374054;
}

/*
    -------------------------------
    ----- 7. Education Styles -----
    -------------------------------
*/

#education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid $border;
  text-align: center;
  background: #2b4f3a;
  background: linear-gradient(355deg, #45a07a 0%, #2b4f3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45a07a', endColorstr='#2b4f3a ',GradientType=0 );

  h2 {
    color: #fff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    &:after {
      background: lighten($heading, 10%);
    }
  }
}

.education-block {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid $border;
  text-align: left;
  background: #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto 20%;

  h3 {
    font-weight: 300;
    float: left;
    margin: 0;
    color: $heading;
  }

  span {
    color: $text;
    font-size: 0.9rem;
  }

  h4 {
    color: $text;
    clear: both;
    font-weight: 300;
    font-size: 1.15rem;
    margin: 0;
  }

  h5 {
    font-size: 0.9rem;
    color: lighten($text, 10%);
  }

  p,
  ul {
    margin: 0;
    color: $text;
    font-size: 0.9em;
  }

  ul {
    padding: 0 0 0 15px;
  }

  .education-header {
    display: inline-block;

    img {
      height: 64px;
    }

    .education-text-header {
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
    }
  }
}

/*
    -------------------------------
    ----- 8. Project Styles -----
    -------------------------------
*/

#projects {
  padding: 50px 15px;
  border-bottom: 1px solid $border;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 50px;
  }
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 2rem;
  padding: 1rem;
}

.project-image {
  img {
    max-height: 300px;
  }
}

.project-info {
  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: $heading;
    margin: 0 0 15px 0;
  }

  p {
    color: $text;
    margin: 0 0 15px 0;
    font-size: 0.9em;
  }
}

/*
    -------------------------------
    ----- 9. Skills Styles -----
    -------------------------------
*/

#skills {
  padding: 50px 15px;
  text-align: center;

  h2 {
    color: $heading;
    margin-bottom: 50px;
  }

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
  }

  li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: $heading;
    background: darken($background-alt, 5%);
    box-shadow: 0 2px 4px #4d4d4d1c;
    border: 1px solid #0000001c;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
  }
}

/*
    -------------------------------
    ----- 10. Contact Styles -----
    -------------------------------
*/

#contact {
  padding: 50px 15px;
  background: $contact-base;
  text-align: center;

  h2 {
    margin: 0 0 15px 0;
  }
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #454545;
    color: #fff;
    border: 1px darken(#454545, 10%);
    @include transition();
    @include placeholder {
      color: #fff;
    }

    &:focus {
      outline: none;
      background: darken(#454545, 10%);
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #6b6b6b;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    @include transition();

    &:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

/*
    ----------------------------
    ----- 11. Media Queries -----
    ----------------------------
*/

// Collapse timeline
@media only screen and (max-width: 750px) {
  #experience-timeline {
    &:before,
    &:after {
      left: 23px;
    }
  }

  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }

  .vtimeline-icon {
    margin-left: 0;
  }

  .vtimeline-content {
    margin-left: 70px;
  }
}

// Medium Devices
@media only screen and (max-width: 992px) {
  #lead {
    padding: 100px 15px 100px;
  }

  #lead-content {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.75em;
    }
  }
}

// Small Devices
@media only screen and (max-width: 768px) {
  #lead-content {
    img {
      width: 15vw;
      margin: 1rem;
    }
  }

  header {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
    height: 100%;
  }

  #mobile-menu-open,
  #mobile-menu-close {
    display: block;
  }

  #menu {
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%;

    li {
      display: block;
      margin-bottom: 10px;
    }

    .dark-mode-toggle {
      display: inline-block;
      padding: unset;
      right: unset;
      position: relative;
    }
  }

  #lead-content {
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.3em;
    }

    a {
      padding: 10px 20px;
    }
  }

  #lead-down {
    display: none;
  }

  .education-block {
    h3,
    span {
      float: none;
    }
  }

  .project {
    grid-template-columns: auto;
    grid-column-gap: 2rem;
  }

  .project-info {
    position: relative;
    margin: 0;
    top: auto;
    transform: none;
    padding-top: 20px;
  }

  footer {
    text-align: center;
  }

  .social {
    text-align: center;
  }

  .education-block {
    grid-template-columns: auto;
  }

  .vtimeline-content {
    h3 {
      font-size: 1.33em;
      i {
        font-size: 0.75rem;
      }
    }
  }
}

// Extra Small Devices
@media only screen and (max-width: 480px) {
  body {
    font-size: 14.5px;
  }

  #lead-content {
    img {
      width: 25vw;
      margin: 1rem;
    }

    a {
      font-size: 0.9em;
      padding: 5px 10px;
    }
  }

  .project {
    grid-template-columns: auto;
    grid-column-gap: 2rem;
  }

  .vtimeline-content {
    .heading-grid img {
      max-width: 50px;
    }

    h3 {
      font-size: 1.25em;
      i {
        font-size: 0.75rem;
      }
    }
  }
}

.york-loader {
  height: 200px;
}

.svg-wrapper {
  height: 0;
  margin: 0 auto;
  position: relative;
  top: 10%;
  width: 320px;

  .yellow {
    fill: transparent;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 10 40;
    stroke: #ffcf2b;
    animation: 3s 0.2s draw-yellow infinite;
  }

  .blue {
    fill: transparent;
    stroke-width: 2px;
    stroke-dashoffset: 40;
    stroke-dasharray: 100 40;
    stroke: #0076bf;
    animation: 3s 0.1s draw-blue infinite;
  }

  .green {
    fill: transparent;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 10 40;
    stroke: #00c081;
    animation: 3s 0.3s draw-green infinite;
  }

  .shadow {
    animation: 3s 0.5s draw-shadow infinite;
  }
}

@keyframes draw-yellow {
  0% {
    stroke-dasharray: 0 540;
    stroke-dashoffset: -75;
  }

  50% {
    fill: #ffcf2b;
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }

  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: 5;
  }
}

@keyframes draw-blue {
  0% {
    stroke-dasharray: 0 540;
    stroke-dashoffset: -75;
  }

  50% {
    fill: #0076bf;
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }

  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: -45;
  }
}

@keyframes draw-green {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -75;
  }

  50% {
    fill: #00c081;
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }

  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: -175;
  }
}

@keyframes draw-shadow {
  0% {
    fill: transparent;
  }

  35% {
    fill: #bbbdbf;
  }

  100% {
    fill: transparent;
  }
}

@keyframes blur {
  0%,
  90% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
  }
}
