.DS_Store
node_modules

/.cache
/functions/*.json
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.dev.vars

.eslintcache
.wrangler

# Compiled SASS files (generated during development)
app/styles/styles.css
app/styles/styles.css.map

# Playwright
playwright-report
test-results
.react-router
