.svg-wrapper {
  .yellow {
    fill: transparent;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 10 40;
    stroke: var(--animation-yellow);
    animation: 3s 0.2s draw-yellow infinite;
  }

  .blue {
    fill: transparent;
    stroke-width: 2px;
    stroke-dashoffset: 40;
    stroke-dasharray: 100 40;
    stroke: var(--animation-blue);
    animation: 3s 0.1s draw-blue infinite;
  }

  .green {
    fill: transparent;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 10 40;
    stroke: var(--animation-green);
    animation: 3s 0.3s draw-green infinite;
  }

  .shadow {
    animation: 3s 0.5s draw-shadow infinite;
  }
}

@keyframes draw-yellow {
  0% {
    stroke-dasharray: 0 540;
    stroke-dashoffset: -75;
  }

  50% {
    fill: var(--animation-yellow);
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }

  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: 5;
  }
}

@keyframes draw-blue {
  0% {
    stroke-dasharray: 0 540;
    stroke-dashoffset: -75;
  }

  50% {
    fill: var(--animation-blue);
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }

  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: -45;
  }
}

@keyframes draw-green {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -75;
  }

  50% {
    fill: var(--animation-green);
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
  }

  100% {
    fill: transparent;
    stroke-dasharray: 0 540;
    stroke-dashoffset: -175;
  }
}

@keyframes draw-shadow {
  0% {
    fill: transparent;
  }

  35% {
    fill: var(--animation-shadow);
  }

  100% {
    fill: transparent;
  }
}

@keyframes blur {

  0%,
  90% {
    filter: blur(0px);
  }

  50% {
    filter: blur(50px);
  }
}