#contact {
  padding: 8rem 0 10rem;
  background: $contact-base;
  background: linear-gradient(180deg, $contact-base, transparent);
  text-align: center;

  h2 {
    margin: 0 0 15px 0;
  }
}

#contact-form {
  margin: auto 25vw;

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #454545;
    color: #fff;
    border: 1px darken(#454545, 10%);
    @include transition();
    @include placeholder {
      color: #fff;
    }

    &:focus {
      outline: none;
      background: darken(#454545, 10%);
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #6b6b6b;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    @include transition();

    &:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .linked-in-button {
    margin: 1rem auto;
    background-color: #0a66c2 !important;
    color: #fff;

    &:hover {
      background-color: darken(#0a66c2, 7.5%) !important;
    }

    svg {
      width: auto;
      height: 1.1rem;
      filter: brightness(0) invert(1);
      top: -2px;
      position: relative;
      margin-left: 4px;
    }
  }
}
