#education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #585858;
  text-align: center;
  background: #2b4f3a;
  background: linear-gradient(355deg, #45a07a 0%, #2b4f3a 100%);

  h2 {
    color: #fff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);

    &:after {
      background: #454545;
    }
  }
}

.education-block {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid $border;
  text-align: left;
  background: #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto min-content;

  h3 {
    font-weight: 300;
    margin: 0;
    color: $heading;
  }

  .education-date {
    color: $text;
    font-size: 0.9rem;
    text-align: right;
    width: max-content;
  }

  h4 {
    color: $text;
    clear: both;
    font-weight: 300;
    font-size: 1.15rem;
  }

  h5 {
    color: lighten($text, 10%);

    a {
      color: inherit;
    }
  }

  p,
  ul {
    margin: 0;
    color: $text;
    font-size: 0.9em;
  }

  ul {
    padding: 0 0 0 15px;
  }

  .education-header {
    display: grid;
    grid-template-columns: auto 1fr;

    img {
      display: inline-block;
      height: 128px;
    }

    .education-text-header {
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .education-block {
    .education-header img {
      height: 96px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .education-block {
    grid-template-columns: auto;

    .education-header img {
      height: 64px;
    }
    .education-date {
      width: initial;
      margin-top: 12px;
    }
  }
}
