@use 'sass:color';
@use 'colors' as *;
@use 'mixins' as *;

#experience {
  @include section-padding;
  @include center-text;
  border-bottom: 1px solid $border;
  transition: 0.2s all;

  h2 {
    color: $heading;
  }
}

#experience-timeline {
  margin: 30px auto 0 auto;
  padding-right: 20px;
  position: relative;
  max-width: 1000px;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 190px;
    right: auto;
    height: 100%;
    width: 3px;
    background: var(--base-color);
    background: linear-gradient(180deg,
        var(--base-color) 0%,
        var(--base-color) 97%,
        rgba(0, 0, 0, 0) 100%);
    z-index: 0;
  }
}

.vtimeline-content {
  margin-left: 235px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left;

  .heading-grid {
    display: grid;
    grid-template-columns: 1fr 20%;
    margin-bottom: 12px;

    img {
      max-width: 75px;
      justify-self: end;
    }

    .wider {
      max-width: 100px;
    }

    h3 {
      a {
        svg {
          margin: 0 4px;
          position: relative;
          top: 1px;
          opacity: 0;
          transition: 0.2s all;
        }

        &:hover {
          svg {
            color: color.adjust($background-alt, $lightness: -2%);
            opacity: 1;
          }
        }
      }
    }
  }

  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: $heading;
    display: inline-block;
    margin: 0;

    a {
      text-decoration: none;

      &:hover {
        background: var(--accent-color);
        color: $background-alt;
        transition: 0.2s all;
      }
    }

    i {
      margin-left: 6px;
      margin-top: -2px;
      font-size: 0.9rem;
      color: #c9c9c9;
      vertical-align: middle;
    }
  }

  h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #737373;
  }

  p {
    color: $text;
    font-size: 0.9em;
    margin: 0;
  }

  .client-logos {
    margin: 8px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      flex: 0 0 calc(25% - 3vw);
      margin: 4px;

      img {
        max-height: 50px;
        max-width: 100px;
        margin: auto;
      }
    }
  }
}

.vtimeline-point {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 3rem;
  height: 3rem;
  background: var(--base-color);
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 167px;

  svg {
    margin-top: 0.7rem;
  }
}

.vtimeline-date {
  width: 150px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 14px;
  font-weight: 300;
  font-size: 0.9rem;
  color: #374054;
}

@media only screen and (max-width: 750px) {
  #experience-timeline {
    padding-right: 0;

    &:before,
    &:after {
      left: 14px;
    }

    .client-logos {
      div {
        flex: 0 0 calc(25% - 1vw);
        margin: 4px 12px;
      }
    }
  }

  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 14px;
    display: block;
    margin-left: 42px;
    top: 5px;
  }

  .vtimeline-icon {
    margin-left: 0;
  }

  .vtimeline-content {
    margin-left: 40px;
    padding: 12px;
  }

  .vtimeline-icon {
    width: 2rem;
    height: 2rem;

    svg {
      height: 1rem;
      width: 1rem;
      margin-top: 0.3rem;
    }
  }
}