// https://codepen.io/mikegolus/pen/Jegvym
$glow: #00ff37;
$glow-2: #00ff9d;
$glow-3: #fdffc8;

.firefly {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 -0.2vw;
  animation: move ease infinite;
  pointer-events: none;
  will-change: transform;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }

  &::before {
    background: #f2f2f2;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }

  &::after {
    background: #fff;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
}

@keyframes move {
  0% {
    transform:
      translate3d(var(--x1, -20vw), var(--y1, -10vh), 0)
      scale(var(--s1, 0.6));
  }

  50% {
    transform:
      translate3d(var(--x2, 10vw), var(--y2, 15vh), 0)
      scale(var(--s2, 0.9));
  }

  100% {
    transform:
      translate3d(var(--x3, 25vw), var(--y3, -20vh), 0)
      scale(var(--s3, 0.7));
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {

  15%,
  30% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw $glow-2;
  }

  0%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw $glow;
  }

  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw $glow-3;
  }
}
