@use 'colors' as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;

  ul {
    background: linear-gradient(to bottom,
        rgba($background-dark, 0.8) 0%,
        rgba($background-dark, 0.5) 30%,
        rgba($background-dark, 0.2) 60%,
        rgba($background-dark, 0.05) 85%,
        rgba($background-dark, 0) 100%);
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  ul.high-contrast {
    transition: 0.2s all;
    background: linear-gradient(to bottom,
        rgba($background-dark, 0.9) 0%,
        rgba($background-dark, 0.6) 30%,
        rgba($background-dark, 0.4) 60%,
        rgba($background-dark, 0.15) 85%,
        rgba($background-dark, 0) 100%);
  }

  @media only screen and (max-width: 767px) {
    background: linear-gradient(to bottom,
        rgba($background-dark, 0.9) 0%,
        rgba($background-dark, 0.6) 30%,
        rgba($background-dark, 0.3) 60%,
        rgba($background-dark, 0.1) 85%,
        rgba($background-dark, 0) 100%);
  }

  li {
    display: inline-block;
    padding: 0 4px;
  }

  .dark-mode-toggle {
    padding: 10px;
    position: absolute;
    right: 0;
  }

  a {
    display: block;
    color: $background-alt;
    padding: 10px;
    transition: 0.5s all;

    &:hover {
      color: $white;
      text-decoration: none;
      background: rgb(0, 0, 0, 0.66);
      border-radius: 4px;
    }

    // &:focus {
    //   color: var(--base-color);
    //   text-decoration: none;
    // }
  }

  &.active {
    display: block;
    transition: 0.2s all;
  }
}

#menu {
  &.active {
    display: block;
  }
}

#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: #666666;
  font-size: 1.5em;
  z-index: 10;
  padding: 0 7px;
  border-radius: 4px;
  background: $background;
}

#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  font-size: 1.5em;
  padding: 10px 15px;
  cursor: pointer;
  color: #ffffff;

  span {
    font-size: 0.5em;
    text-transform: uppercase;
  }

  i {
    vertical-align: middle;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f2f2f2;
}

.fa-sun {
  color: #f2f2f2;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}
