#lead {
  position: relative;
  background-image: url(/img/lead-bg-7.jpg);
  background-size: cover;
  background-position: center;
  padding: 185px 15px 150px;
  overflow: hidden;
  filter: saturate(1.33);
  transition: 0.2s all;

  &.narrow {
    padding-top: 100px;
  }
}

#lead-content {
  position: relative;
  z-index: 10;
  text-align: center;

  .headshot {
    height: 12vw;
    width: 100%;
    margin-bottom: 1rem;

    img {
      height: 12vw;
      width: 12vw;
      border-radius: 50%;
      margin: auto;
    }
  }

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    color: #fff;
    font-weight: 500;
    font-size: 4em;
    letter-spacing: 0.05em;
    line-height: 0.9em;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
  }

  h2 {
    color: var(--accent-color);
    font-weight: 500;
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
  }
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($base-color-hover, 0.425);
  z-index: 1;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff;

  span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px --accent-color;
    text-align: center;
    transition: 0.3s all;

    &:hover {
      border: 3px solid var(--base-color);
    }
  }

  i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
    position: relative;
    top: 2px;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}
