#skills {
  padding: 50px 15px;
  text-align: center;

  h2 {
    color: $heading;
  }

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;

    li {
      display: inline-block;
      margin: 7px;
      background: darken($background-alt, 5%);
      box-shadow: 0 2px 4px #4d4d4d1c;
      border: 1px solid #0000001c;
      list-style: none;
      cursor: default;
      font-size: 1.1em;
      transition: 0.2s all;

      &:hover {
        background: var(--base-color);
        border: 1px solid #939393;
      }
      &:active {
        background: var(--accent-color);
        border: 1px solid #939393;
      }
      a {
        display: block;
        padding: 5px 10px;
        background: none;

        &:hover {
          color: $background-alt;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #skills {
    ul {
      li {
        margin: 4px;
        a {
          font-size: 0.9rem;
        }
      }
    }
  }
}
